@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato|Open+Sans|PT+Sans');

body {
    position: relative; 
    width: 100%;
    height: 100%;
  }

h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
}
p{
	font-family: 'Lato', sans-serif;
}
ul{
    font-family: 'Lato', sans-serif;  
}

footer{
	
	background-color: #19232E;
	min-height: 50px;
  	overflow: auto;
    bottom: 0;
}
footer p{
	margin-top: 10px;
	font-size: 16px;
    color: #FFF;
}

hr {
    border-width: 1px;
    opacity: 0.5;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
}

hr.light {
    border-color: #E81717;
}
hr.long {
    border-color: #222222;
    width: 100%;
    margin: 0;
    padding: 0;

}

/*нужный css*/
.centered{
    text-align: center;
}


/**********************************************************************************************/

    /* цвет фона и рамки навигационного меню */
    .navbar-default {
        /*background: rgba(40, 40, 40, 0.8);*/
        background: rgba(0,0,0,0.8);

        border: none;
    }
    /* цвет текста, содержащий название сайта или бренда */
    .navbar-default .navbar-brand {
        color: #fff;
    }
    /* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        color: #D4CD81;
    }
    /* Цвет пунктов навигационного меню */
    .navbar-default .navbar-nav > li > a {
        color: #fff;
        font-size: 17px;
        font-family: 'Open Sans', sans-serif;
    }
    /* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #D4CD81;
    }
    /* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
    .navbar-default .navbar-nav > .active > a, 
    .navbar-default .navbar-nav > .active > a:hover, 
    .navbar-default .navbar-nav > .active > a:focus {
        color: #D4CD81;
        background: rgba(40, 40, 40, 0.8);
    }

    /* Цвет и фон открытого пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
/*    .navbar-default .navbar-nav > .open > a, 
    .navbar-default .navbar-nav > .open > a:hover, 
    .navbar-default .navbar-nav > .open > a:focus {
        color: #555;
        background-color: #D5D5D5;
    }*/

    /* Цвет стрелочки (треугольничка) у раскрывающихся пунктов меню */
/*    .navbar-default .navbar-nav > .dropdown > a .caret {
        border-top-color: #777;
        border-bottom-color: #777;
    }*/
    /* Цвет стрелочки (треугольничка) при поднесении к нему курсора мышки или при его нахождении в фокусе */
/*    .navbar-default .navbar-nav > .dropdown > a:hover .caret,
    .navbar-default .navbar-nav > .dropdown > a:focus .caret {
        border-top-color: #333;
        border-bottom-color: #333;*/
    }
    /* Цвет стрелочки (треугольничка), открывшегося пункта меню */
/*    .navbar-default .navbar-nav > .open > a .caret, 
    .navbar-default .navbar-nav > .open > a:hover .caret, 
    .navbar-default .navbar-nav > .open > a:focus .caret {
        border-top-color: #555;
        border-bottom-color: #555;
    }*/

    /* CSS стили для мобильных устройств */
    /* Цвет рамки у кнопки, которая открывает меню */
    .navbar-default .navbar-toggle {
        border-color: #DDD;
    }
    /* Цвет фона кнопки (которая открывает меню) при поднесении к ней курсора мышки или при нахождении её в фокусе */
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #DDD;
    }
    /* Цвет полосочек в кнопочке, которая открывает меню */
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #CCC;
    }
     
    @media (max-width: 767px) {
    /* Цвет пунктов меню в раскрывающихся списках */
        .navbar-default .navbar-nav .open .dropdown-menu > li > a {
            color: #777;
        }
    /* Цвет и фон пункта меню в раскрывающихся списках, при поднесении к нему курсора мышки или при нахождении его в фокусе */
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #333;
            background-color: transparent;
        }
    }

/**********************************************************************************************/

/*основные блоки */
 #section1 {
    position: relative;
    text-align: center;
    color: #fff;
    width: 100%;
    min-height: 40vh;
    background-color: #c9c9c9;
    background-image: url(../img/bg3.jpg);
    background-position: center;
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 	}
        #section1 h1{
        /*padding: 5em 0;*/
        margin-top: 15vh;
        font-size: 80px;
        text-align: center;
        color: #fff;
        font-family:'Dancing Script';
        text-transform: none;
        }
        #section1 h3{
        text-align: center;
        color: #fff;
        font-family: 'PT Sans', sans-serif;
        text-transform: none;
        }
@media screen and (max-width: 480px) {
    #section1 h1{
        font-size: 60px;
    }
}



/*Таблица*/
 #section2 {
 	padding-top:50px;
 	min-height:300px;
    color: #000;
 	background-color: #FFF;
 	min-height: 100px;
  	overflow: hidden;
    margin-bottom: 25px;
 	}

        #section2 h1{
        text-align: center;
        margin-bottom: 50px;
        }
        #section2 caption{
        /*font-style: italic;*/
        }

/*страница прокат:текст+картинки*/
 #section3 {
 	padding-top:25px; 	
 	color: #000;
	background-color: #FFFFFF;
	min-height: 400px;
  	overflow: hidden;
    margin-bottom: 50px;
 	}
        #section3 .row{
        margin-bottom: 50px;        
        }
        #section3 h1{
        text-align: center;
        margin-bottom: 50px;        
        }
        #section3 h3{
        text-align: center;
        font-style: italic;
        font-weight: 600;       
        }
        #section3 p{
        font-size: 20px;
        text-indent: 1.5em;        
        }
        #section3 li{
        font-size: 20px;        
        }
        #section3 img {
        display: block;
        margin-top: 10vh;
        /*margin: 0 auto;*/ 
        }

@media screen and (max-width: 480px) {
    #section3 img {
        width: 100%;
    }
    #section3 p{
        font-size: 18px;
    }
    #section3 li{
        font-size: 18px;
    }
}

  /*страница сплавы  */
 #section4 {
 	padding-top:50px; 	
 	color: #000;
 	background-color: #FFFFFF;
 	min-height: 400px;
  	overflow: hidden;
    margin-bottom: 2em;

 	}
        #section4 .row{
        margin-bottom: 50px;        
        }
        #section4 h1{
        text-align: center;
        color: #000;
        margin-top: 4vh;
        font-family: 'PT Sans', sans-serif;
        }
        #section4 img{
        height: 250px;
        width: 400px;
        margin-bottom: 50px;
        }
        #section4 h2{  
        font-size: 56px;
        line-height: 1.07143;
        font-weight: 600;
        letter-spacing: -.005em;
        font-family: 'PT Sans', sans-serif;
        margin-bottom: 0.5em;
        }
        #section4 h3{
        font-size: 32px;
        line-height: 1.09375;
        font-weight: 500;
        letter-spacing: .011em;
        font-family: 'PT Sans', sans-serif;
        margin-bottom: 1.5em;
        margin-top: 2em;
        text-align: left;
        }
        #section4 h4{
        font-size: 28px;
        line-height: 1.09375;
        font-weight: 400;
        letter-spacing: .011em;
        font-family: 'PT Sans', sans-serif;
        margin: 1.5em;
        text-align: left;
        }
        #section4 p{
        font-size: 20px;
        line-height: 1.52947;
        font-weight: 400;
        letter-spacing: -.021em;
        font-family: 'PT Sans', sans-serif;
        color: #333;
        font-style: normal;
        text-align: left;
        }

        #section4 ul{
        text-align: left;
        list-style-type: square;
        margin-left: 1.5em;
        padding: 0;
        }
        #section4 li{
        font-size: 20px;
        line-height: 1.52947;
        font-weight: 400;
        letter-spacing: -.021em;
        font-family: 'PT Sans', sans-serif;
        color: #333;
        font-style: normal;
        text-align: left;
        }

        #section4 .bez li{
        list-style-type: none;
        }
        #section4 img{
         -moz-transition: all 1s ease-out;
         -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        }
        #section4 img:hover{
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -o-transform: scale(2);
        }


@media screen and (max-width: 480px) {
    #section4 h2 {
        font-size: 34px;
    }
    #section4 h3 {
        font-size: 24px;
    }
    #section4 p {
        font-size: 18px;
    }
    #section4 li {
        font-size: 18px;
    }
}

/*страница тренировки*/
 #section5 {
    padding-top:50px;   
    color: #000;
    background-color: #FFFFFF;
    min-height: 400px;
    overflow: hidden;
    margin-bottom: 3em;
 	}
        #section5 h2{  
        font-size: 56px;
        line-height: 1.07143;
        font-weight: 600;
        letter-spacing: -.005em;
        font-family: 'PT Sans', sans-serif;
        margin-bottom: 1em;
        }
        #section5 h3{
        font-size: 28px;
        line-height: 1.09375;
        font-weight: 400;
        /*letter-spacing: .011em;*/
        font-family: 'PT Sans', sans-serif;
        margin-bottom: 1.5em;
        margin-top: 2em;
        text-align: left;
        text-indent: 1.5em; 
        }
        #section5 h4{
        font-size: 20px;
        line-height: 1.52947;
        font-weight: 400;
        letter-spacing: -.021em;
        font-family: 'PT Sans', sans-serif;
        color: #222;
        font-style: normal;
        text-align: justify;

        }
        #section5 p{
        font-size: 20px;
        line-height: 1.52947;
        font-weight: 400;
        letter-spacing: -.021em;
        font-family: 'PT Sans', sans-serif;
        color: #222;
        font-style: normal;
        text-align: justify;
        text-indent: 1.5em; 
        }
        #section5 ul{
        text-align: left;
        list-style-type: square;
        margin-left: 1.5em;
        padding: 0;
        }
        #section5 li{
        font-size: 20px;
        line-height: 1.52947;
        font-weight: 400;
        letter-spacing: -.021em;
        font-family: 'PT Sans', sans-serif;
        color: #333;
        font-style: normal;
        text-align: left;
        }
@media screen and (max-width: 480px) {
    #section5 h2 {
        font-size: 34px;
    }
    #section5 h3 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    }
    #section5 p {
        font-size: 18px;
        letter-spacing: -.021em;
    }
    #section5 h4 {
        font-size: 18px;
    }
    #section5 li {
        font-size: 18px;
    }
}


/*перед футером*/
 #section9 {
    padding-top:10px;
    margin-top:-5px;
    color: #fff;
    background-attachment:fixed;
    background: #3E628A;
    min-height: 100px;
    overflow: hidden;
    }
        #section9 ul{
        text-align: justify;
        padding-left: 8em;
        }
        #section9 li{
        list-style-type: none;
        /* Убираем маркеры */
        }
    @media screen and (max-width: 480px) {
        #section9 li {
        text-indent: 2em;
        }
        #section9 ul{
        padding-left: 4em;
        }
    }

        #section9 a{
        margin-top: 10px;
        color: #FFF;
        font-size: 17px;
        margin-bottom: 50px;
        text-align: right;
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
        }

        #section9 a:hover{
        color: #F16565;
        }
        #section9 p{
        font-size: 17px;
        }
        #section9 p >a{
        font-size: 20px;
        }



/*таблица-1*/
.table_price1 {
  border-collapse: collapse;
  width: 720px;
  border-left: 3px solid #19232E;
  border-right: 3px solid #19232E;
  border-bottom: 3px solid #19232E;
  font-family: "Lucida Grande", sans-serif;
 }
.table_price1 caption {
  background: #19232E; 
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 10px;
  box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
  color: white;
  font-family: "Roboto Slab",serif;
  font-style: normal;
  font-size: 26px;
  text-align: center;
  margin: 0;
}
.table_price1 td, .table_price1 th {
  padding: 10px;
  width: 240px;
  text-align: center;
}
.table_price1 th {
  font-size: 16px;
}
.table_price1 tr:nth-child(2n) {
  background: #E5E5E5;
}
.table_price1 td:last-of-type {
  text-align: center;
}

@media screen and (max-width: 480px) {

    .table_price1 {      
      width: 300px;
     }
    .table_price1 caption {
      font-size: 22px;
    }
    .table_price1 td, .table_price1 th {
      width: 100px;
    }
    .table_price1 th {
      font-size: 16px;
    }

}

/*таблица-2*/
/*прокрутка, также нужно указать мин.ширину*/
.table_wrap{
    overflow: auto;
}

.table_price2 {
  border-collapse: collapse;
  min-width: 720px;
  border-left: 3px solid #19232E;
  border-right: 3px solid #19232E;
  border-bottom: 3px solid #19232E;
  font-family: "Lucida Grande", sans-serif;
 }
.table_price2 caption {
  background: #19232E; 
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 10px;
  box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
  color: white;
  font-family: "Roboto Slab",serif;
  font-style: normal;
  font-size: 26px;
  text-align: center;
  margin: 0;
}
.table_price2 td, .table_price2 th {
  padding: 10px;
}
.table_price2 th {
  text-align: left;
  font-size: 16px;
}
.table_price2 tr:nth-child(2n) {
  background: #E5E5E5;
}
.table_price2 td:last-of-type {
  text-align: center;
}


@media screen and (max-width: 480px) {

    .table_price2 {      
      width: 300px;
     }
    .table_price2 caption {
      font-size: 22px;
    }
    .table_price2 td, .table_price2 th {
      width: 100px;
    }
    .table_price2 th {
      font-size: 16px;
    }

}

/*акордион*/
.accordion {
    background-color: #e1e1e1;
    color: #333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 50px;
}
.accordion h5{
        font-size: 32px;
        line-height: 1.09375;
        font-weight: 500;
        letter-spacing: .011em;
        font-family: 'PT Sans', sans-serif;
        margin-bottom: 0;
        margin-top: 0;
        text-align: center;

}

@media screen and (max-width: 480px) {
    .accordion h5 {
        font-size: 20px;
    }
}

.accordion:hover {
    background-color: rgba(98,98,98,0.5);
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
