body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
}
.block{
display: table;
}
.block1{
background: url(img/left.png) repeat-y left;
}
.block2{
background: url(img/right.png) repeat-y right;
}
.block3{
background: url(img/top.png) repeat-x top;
}
.block4{
background: url(img/bottom.png) repeat-x bottom;
}
.block5{
background: url(img/top-left.png) no-repeat left top;
}
.block6{
background: url(img/bottom-leftt.png) no-repeat left bottom;
}
.block7{
background: url(img/top-right.png) no-repeat right top;
}
.block8{
background: url(img/bottom-right.png) no-repeat right bottom;
}
.block9{
padding: 80px;
font-size: 4mm;
line-height: 180%;
}
p{
	font-size: 20px;
	text-align: justify;
}
