/*подключаем шрифты*/
@font-face{
	font-family: Dancing Script;
	src : url(../fonts/Dancing_Script/DancingScript-Regular.ttf); 
}
@font-face{
	font-family: Lato;
	src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face{
	font-family: Arial;
	src: url(../fonts/Arial/arialmt.ttf);
}
@font-face{
	font-family: Playfairdisplay;
	src: url(../fonts/playfairdisplay/PlayfairDisplay-Regular.woff);
}
*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
}
.navbar{
	background-color: #262f34;
}
a.navbar-brand{
	font-size: 30px;
}


.main-block{
	width: 100%;
	height: 100vh;
	background-color: #C9C9C9;
	background-image: url(../img/canoeist.jpg);
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: relative;
	color: #fff;
	text-align: center;
	/*Новый вариант позиционирования*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;		
}

.main-block hr{
	min-width: 80px;
	max-width: 80px;
	border-width: 3px;
	opacity: 0.4;
	margin: 15px auto;
	border-radius: 50px;	
}

.main-block h1{
	font-family: 'Dancing Script', serif;
	font-size: 5vw;
}
a.navbar-brand{
	font-family: 'Dancing Script', serif;
	/*margin: 0 35px;*/
}
a.nav-link{
	font-family: 'Lato', sans-serif;
	color: #fff;
	border-bottom: 2px solid transparent;
	/*border-radius: 15px;*/
}
a.nav-link:hover{
/*	color: #fff;
	background-color: #FA9512;
	border-radius: 15px;
	transition: 0.5s; */
	border-bottom: 2px solid #FA9512;
	color: #FA9512;
	transition: 0.5s;
}
a.nav-link:focus{
/*	color: #fff;
	background-color: #FA9512;
	border-radius: 15px;
	transition: 0.5s; */
	border-bottom: 2px solid #FA9512;
	color: #FA9512;
}

li.nav-item{
	padding: 0 20px;
		font-size: 22px; /*был 20*/
		letter-spacing: 1px; /*добавлено*/
}


/*стрелка на фоне*/
@keyframes bouncing{
  0%  { bottom: 0;}
  100%{ bottom: 50px;}
}

.arrow a {
    animation: bouncing 0.5s cubic-bezier(.1,.25,.1,1) 0s infinite alternate both;
    font-size: 30px;
    border: 1px solid #fff;
    padding: 3px 5px;
    border-radius: 50px;
    display: inline-block;
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    position: absolute;
    bottom: 0;
}



/******************************************/
/*кнопки*/
.nav-btn{
	padding: 5px 10px;
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid #fff;
	color: #fff;
}
.nav-btn:hover{
	color: #fff;
	border-color: #FA9512;
	background-color: #FA9512;
}
.info-btn{
	padding: 5px 10px;
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid #000;
	color: #000;
	/*позиционирование*/
	min-width: 10px;
	margin: 0 auto;
	display: block;	
}
.info-btn:hover{
	color: #fff;
	border-color: #FA9512;
	background-color: #FA9512;	
}

/******************************************/
/*блок програм*/
.programs{
	padding: 100px 0;
	min-height: 100px;
	background: #fff;
}
.programs .row{
	padding: 15px 0;
}

.programs h1{
	text-align: center;
	font-family: 'Playfairdisplay', serif;
	font-size: 60px;
	font-weight: 700;
	padding-bottom: 50px;
	color: #000;
}
.programs h3{
	width: 100%;
	padding: 20px;
	text-align: center;
	/*background: rgba(255,255,255,0.5);*/
	background: rgba(0,0,0,0.5);
	margin: 0;
}
.programs a{
	width: 100%;
	padding: 20px;
	text-align: center;
	/*background: rgba(255,255,255,0.5);*/
	background: rgba(0,0,0,0.6);
	margin: 0;
	font-size: 1.75rem;
	color: #fff;
	text-decoration: none;	
}
/*.programs a:hover{
	padding: 80px 20px;
	color: #E9A022;
}*/
.program-block:hover a{
	padding: 80px 20px;
	color: #FA9512;	
}
.program-block{
	min-height: 600px;
	color: #fff;
	/*Новый вариант позиционирования*/
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	transition: 2s;	
}
.program-block:hover{
	justify-content: center;
	transition: 2s;	
}
.p1{
	background: url(../img/program/p1.jpg);
}
.p2{
	background: url(../img/program/p2.jpg);
}
.p3{
	background: url(../img/program/p3.jpg);
}
.p4{
	background: url(../img/program/p4.jpg);
}
.p5{
	background: url(../img/program/p5.jpg);
}
.p6{
	background: url(../img/program/p6.jpg);
}

.p1, .p2, .p3, .p4, .p5, .p6{
	background-position: center;
	background-size: cover;
}
/******************************************/
/*о нас*/
.about-us{
	min-height: 200px;
	background: #000;
	color: #fff;
	padding: 50px;
	text-align: center;

}
/******************************************/
/*галерея*/
.gallery{
	min-height: 500px;
	background: #fff;
	color: #000;
	padding: 50px;
	text-align: center;	
}
.gallery .row{
padding: 12px;
}
.gallery h1{
	font-family: 'Playfairdisplay', serif;
	font-weight: 700;	
}
/******************************************/
/*блок инфо*/
.info{
	/*margin: 100px 0;*/
	min-height: 200px;
	background: #DADADA;
	text-align: center;
	/*не применяется к одному блоку	*/
}
.info .col{
	padding: 0
}
.info h2{
	/*text-align: center;*/
}
.info a{
	/*text-align: center;*/
	font-size: 2em;
	color: #fff;
}
.info a:hover{
	color: #FA9512;
}
.info-block{
 padding: 30px;
 height: 200px;
}
.info-block-1{
	background: #FEE856;
	color: #000;

}
.info-block-2{
	background: #000;
	color: #fff;
}
/******************************************/
/*test*/


.map{
	background-color: #212529;
	color: #fff;
	text-align: center;	
}
.map h2{
	padding: 10px;
}

/******************************************/
footer{
	min-height: 100px;
	/*background-color: #262f34;*/
	background-color: #212529;
	color: #fff;
	padding-top: 50px;
}	

footer hr{
	min-width: 80px;
	max-width: 80px;
	border-width: 3px;
	opacity: 0.4;
	margin: 15px auto;
	border-radius: 50px;
	color: #fff;	
}
footer h3{
	text-align: center;
}
footer p{
	text-align: center;
}
footer li{
	text-align: center;
	list-style-type: none;
}
footer a{
	text-decoration: none;
	color: #fff;
}
footer a:hover{
	text-decoration: none;
	color: #FA9512;
}


.bottom-fotter{
	text-align: center;
	background: #0F1011;
	min-height: 10px;
	padding: 10px;
}
.bottom-fotter p{
	margin:0;
}


/*счетчик*/
.number {
  font-size: 2em;
  padding: 0 0 25px;
  font-weight: bold;
  opacity: 0;
  display: inline-block;
}

.viz {
  opacity: 1;
  transition: 1s;
}