*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
}
i{
	color: #38D956;
	font-size: 26px;
}
.centered{
	text-align:center; 
}
/*.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}*/
#section1{
	background: url(../img/1.png) no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	position: relative;
	height: 100vh;
/*	height: calc(100vh - 50px);*/
	width: 100%;
	text-align: center;
	padding-top: 10%;
	color: #fff;
	-webkit-clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
	clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
}
	
#section2{
	padding: 50px 0;
	background: #fff;
	min-height: 400px;
	text-align: center;
}
#section2 p{
	font-size: 16px;
}


#section3{
	padding: 70px 0;
	background: #F0F0F0;
	min-height: 700px;
-webkit-clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}

#section3 img:hover {
  opacity:0.6;
  -moz-opacity:0.6;
  filter: alpha(opacity=60) black;
  -khtml-opacity: 0.6;
}

#section4{
	padding: 50px 0;
	background: #fff;
	min-height: 400px;
	text-align: center;
}
#section4 p{
	font-size: 20px;
}
#section5{
	padding: 50px 0;
	background: #F0F0F0;
	min-height: 300px;
	text-align: center;
}

#registration{
	background: #fff;
	min-height: 300px;
}
#registration input{
	width: 50%;
}


footer{
	min-height: 50px;
	color: #fff;
	background: #303030;
	text-align: center;
	padding-top: 10px;
}
footer a{
	color: #fff;
	font-size: 20px;
}
footer a:hover{
	color: #38C355;
	font-size: 20px;
}
footer i{
	color: #fff;
}
footer p{
	margin: 0;
}
p.icon {
  overflow: hidden;
  position: relative;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}
p.icon:before,
p.icon:after {
  content: '';
  display: inline-block;
  position: relative;
  top: -1px;
  width: 25%;
  height: 1px;
  vertical-align: middle;
  background: #38D956;
}
p.icon:before {
  left: -30px;
  margin-left: -50%;
}
p.icon:after {
  left: 30px;
  margin-right: -50%;
}


/*стрелка на фоне*/
@keyframes bouncing{
  0%  { bottom: 0;}
  100%{ bottom: 50px;}
}

.arrow a {
    animation: bouncing 0.5s cubic-bezier(.1,.25,.1,1) 0s infinite alternate both;
    font-size: 30px;
    border: 1px solid #fff;
    padding: 3px 5px;
    border-radius: 50px;
    display: inline-block;
    color: white;

    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    position: absolute;
    bottom: 0;
    left:49%
}
#section1 form{
	padding: 15px;
	width: 300px;
	min-height: 200px;
	border-radius: 10px;
    background: linear-gradient(rgba(25,140,50,0.8), rgba(120,235,180,0.8));
	color: #000;
	margin: auto;
}