.block1, .block2, .block3, .block4{
	margin: 16px 0;
}
.block1 h1{
border-style: dashed;
border-color: #FF0000;
padding: 0;
}
.block2 {
margin: 0 auto;
width: 50%;
min-width: 200px;
max-width:  700px;
border-style: solid;
border-color: #1AC512;
border-width: 1px;
padding: 3px 15px;
}

@media (max-width: 320px) {
.block2{
	margin: 0 auto;
    }
}

.block3{
border-left: solid #0000FF 1px;
border-right: double #FF0000 3px;
border-top: dotted #000000 1px;
border-bottom: solid #008000 3px
}
.block4 p{
border-style: solid;
border-color: #1AC512;
border-width: 1px;
}

ul{
list-style-type:square;
}
span{
text-decoration:underline;
}