@import url('https://fonts.googleapis.com/css?family=Kavivanar|Lato');


body{
	margin: 0;
	padding: 0;
	background: #1D1B26;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
}
p{
	font-family: 'Lato', sans-serif;
}

h1{
	text-align: center;
	font-family: 'Kavivanar', cursive;
	font-size: 70px;
	font-weight: 600;
  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);  /* подробнее про градиенты */ 
  -webkit-background-clip: text;  /* подробнее про background-clip */ 
  color: transparent;
}

li{
    list-style-type: none; /* Убираем маркеры */
}
.centered{
	text-align: center;
}
.margin5{
	margin-top: 5%; 
}

.button-container a {
  text-decoration: none;
  outline: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  margin: 10px 20px;   font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: .8s cubic-bezier(.165,.84,.44,1);
}
.button-container a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  transition: .8s cubic-bezier(.165,.84,.44,1);
}
a:hover {background: rgba(255,255,255,0);}
a:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}
.flex-container {
  display: flex;
  height: 100%;
}

.flex-container>div {
    min-height: 500px;
  margin: auto;
  padding:0;
    background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);  /* подробнее про градиенты */ 
  -webkit-background-clip: text;  /* подробнее про background-clip */ 
  color: transparent;
}