body{
	background: #ADD8E6;
}

.centered{	
text-align: center;
}
	.block1{
		background: linear-gradient(to right, rgba(202,224,231,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(202,224,231,1) 100%);
		height: 150px;
		border-radius: 25px;
		text-align: center;
	}

	.block2{
		background: linear-gradient(to right, rgba(202,224,231,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(202,224,231,1) 100%);
		height: 600px;
		border-radius: 25px;
		text-align: center;
	}

