body{
	margin: 0;
	padding: 0;
	width: 100%;
}

header, footer{
	height: 50px;
	background-color: lightblue;
	width: 100%;
	color: blue;
	text-align: center;
}
h1{	
	margin: 0;
	padding: 10px;
	font-size: 22px;
	font-weight: 500;
}
.centered{	
text-align: center;
}

.content {
    width: 100%;
   	padding: 0;
	margin: 0;
	overflow: hidden;
}

@media (max-width: 480px) {
	.block1{
		width: 100%;
		height: 150px;
		background-color: #E4EF83;
		float: left;
		text-align: center;
		margin-bottom: 20px;
	}
	.block2{
		background: url(ball.jpg) repeat-y right top;
	}
	h1{	
	margin: 0;
	padding: 5px;
	font-size: 18px;
	font-weight: 500;
	}
	h2{	
	padding-top: 5px;
	font-size: 14px;
	}
	li{
	padding: 5px;
	margin: 5px; 
	}
	li{
	display: inline-block;
}

	p{
		padding: 0 15px;
		text-align: justify;
		text-indent: 10px;
	}
}
@media (min-width: 481px) and (max-width: 767px) {

	.block1{
		width: 100%;
		height: 150px;
		background-color: #E4EF83;
		float: left;
		text-align: center;
		margin-bottom: 20px;
	}
		p{
		padding: 0 15px;
		text-align: justify;
		text-indent: 20px;
	}
		.block2{
		background: url(ball.jpg) repeat-y right top;
	}
		.block2 img{
		float: left;
		padding:  0 20px 20px 20px;
	}
		li{
	padding: 10px;

	}
	li{
	display: inline-block;
}
}


@media (min-width: 768px) and (max-width: 991px) {
	.block1{
		min-width: 110px;
		width: 15%;
		background-color: #E4EF83;
		float: left;
		text-align: center;
		margin-bottom: -10000px;
	    padding-bottom: 10000px;
	}

	.block2{
		
		width: 85%;
		background-color: #83EFB6;
		background: url(ball.jpg) repeat-y right top;
		float: right;
		margin-bottom: -10000px;
	    padding-bottom: 10000px;
	}
		p{
		padding: 0 15px;
		text-align: justify;
		text-indent: 20px;
	}	
	.block2 img{
		float: left;
		padding:  0 20px 20px 20px;
	}

	.content {
	    width: 100%;
	   	padding: 0;
		margin: 0;
		overflow: hidden;
	}
	ul{
		text-align: left;
		margin-left: -5px;
	}
	h2{	
	padding: 20px 5px 0 5px;
	font-size: 20px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.block1{
		min-width: 110px;
		width: 15%;
		background-color: #E4EF83;
		float: left;
		text-align: center;
		margin-bottom: -10000px;
	    padding-bottom: 10000px;
	}

	.block2{
		
		width: 85%;
		background-color: #83EFB6;
		background: url(ball.jpg) repeat-y right top;
		float: right;
		margin-bottom: -10000px;
	    padding-bottom: 10000px;
	}
		p{
		padding: 0 15px;
		text-align: justify;
		text-indent: 20px;
	}	
	.block2 img{
		float: left;
		padding:  0 20px 20px 20px;
	}

	.content {
	    width: 100%;
	   	padding: 0;
		margin: 0;
		overflow: hidden;
	}
	h2{	
	padding: 20px 5px 0 5px;
	}
	ul{
		text-align: left;
		margin:auto;
	}

}
@media (min-width: 1200px) {
	.block1{
		min-width: 110px;
		width: 15%;
		background-color: #E4EF83;
		float: left;
		text-align: center;
		margin-bottom: -10000px;
	    padding-bottom: 10000px;
	}

	.block2{
		
		width: 85%;
		background-color: #83EFB6;
		background: url(ball.jpg) repeat-y right top;
		float: right;
		margin-bottom: -10000px;
	    padding-bottom: 10000px;
	}
		p{
		padding: 0 15px;
		text-align: justify;
		text-indent: 20px;
	}	
	.block2 img{
		float: left;
		padding:  0 20px 20px 20px;
	}

	.content {
	    width: 100%;
	   	padding: 0;
		margin: 0;
		overflow: hidden;
	}
		ul{
		text-align: left;
		margin-left: 15%;
	}
}