@font-face{font-family:Roboto Slab;src:url(../fonts/Roboto/RobotoSlab-Regular.ttf);}
@font-face{font-family:Caveat;src:url(../fonts/Caveat/Caveat-Regular.ttf);}
*{margin:0;padding:0;}
body{width:100%;}
.padding-0{padding-right:0;padding-left:0;}
.block-centered{margin:auto;}
.gold-text{font-family:'Caveat', cursive;color:#b38c73;font-size:34px;}
.main-text{color:#000;font-size:40px;font-weight:700;margin-bottom:10px;}
.low-text{color:#000;font-size:18px;padding:10px;margin:0;}
.button{border:solid #CECECE 1px;padding:15px 25px;font-size:16px;font-weight:700;color:#000;transition:0.5s;}
.button:hover{background:#b38c73;color:#fff;text-decoration:none;transition:0.5s;}
hr{border:none;color:#B5B3B3;background-color:#B5B3B3;height:1px;}
iframe{width:100%;height:500px;border:none;}
.carousel{height:auto;}
.carousel-inner img{height:auto;width:auto;}
.carousel.fade{opacity:1;}
.carousel.fade .item{display:block;position:absolute;left:0;top:0;width:100%;opacity:0;transition:opacity 2s;}
.carousel.fade .item.active{position:relative;opacity:1;}
.carousel-caption{padding-bottom:30%;text-align:center;min-width:200px;font-family:'Roboto Slab', serif;}
.carousel-caption h1{font-size:60px;}
.centered{text-align:center;}
.navbar{margin:0;background:transparent;border:none;padding:0.5em 0;}
.navbar-brand img{margin-top:-20px;background-size:cover;}
.navbar-default .navbar-nav > li > a{color:#fff;font-size:16px;}
.navbar-default .navbar-nav > li > a:hover{color:#b38c73;}
.navbar-default .navbar-nav > li > a:focus{color:#fff;}
.restaurant-main{min-height:200px;background-position:center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;}
.text-typing{width:100%;white-space:nowrap;overflow:hidden;-webkit-animation:type 5s steps(300, end);animation:type 5s steps(300, end);}
@keyframes type{from{width:0;}
}
@-webkit-keyframes type{from{width:0;}
}
.restaurant-main-info{padding:70px;min-height:500px;text-align:center;}
.restaurant-main-info .col-md-4{padding:0;}
.restaurant-main-info h1{padding:15px;}
.restaurant-main-info h2{padding:10px;}
.restaurant-main-info p{padding:25px;font-size:20px;}
.restaurant-main-info h3{color:#000;font-size:20px;font-weight:700;}
.image-fon{position:relative;}
.image-fon h4{position:absolute;bottom:0;background:rgba(0, 0, 0, 0.5);color:#f1f1f1;width:100%;padding:10px;margin:0;font-style:italic;}
.restaurant-main-block{padding:70px;min-height:500px;text-align:center;}
.image{overflow:hidden;max-width:292px;height:auto;}
.img-zoom{-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;-webkit-transition:all 1s ease-out;}
.img-zoom:hover{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);}
.restaurant-main-video{padding:70px 0;min-height:300px;text-align:center;}
.restaurant-main-list-of-menu{min-height:900px;background:url(../img/chef_3.jpg);}
.restaurant-main-list-of-menu .row{padding:30px;}
.restaurant-main-list-of-menu h3{color:#000;font-size:20px;font-weight:700;}
.restaurant-main-list-of-menu p{overflow:hidden;color:#000;font-size:14px;padding:10px 0;margin:0;}
.restaurant-main-list-of-menu p:after{content:'. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ';display:block;white-space:nowrap;overflow:hidden;}
.restaurant-main-list-of-menu p span:first-of-type{float:left;margin-right:10px;}
.restaurant-main-list-of-menu p span:nth-child(2){float:right;margin-left:10px;}
.restaurant-main-list-of-menu p span:last-of-type:after{content:'р.';float:right;margin-left:5px;}
.restaurant-main-contact{min-height:500px;}
.restaurant-main-contact .col-md-3{padding:0;}
footer{min-height:220px;color:#fff;text-align:center;background-color:#232323;}
.footer1{height:80%;padding:2em 0;background-color:#232323;}
.footer1 ul{margin-top:15px;}
.footer1 li{display:inline-block;font-size:20px;margin:10px;}
.footer1 li:after{content:"/";padding-left:15px;color:#D1D1D1;}
.footer1 li:last-child:after{content:none;}
.footer1 a{color:#fff;text-decoration:none;}
.footer1 a:hover{color:#b38c73;}
.footer2{height:20%;padding:1em 0;background-color:#1e1e1e;color:#949494;}
.rovn{padding:5em 0;}
.our-contacts-main{background:url(../img/ustrici.jpg);min-height:40vh;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;position:relative;background-attachment:fixed;}
.our-contacts-main-text{color:#fff;text-align:center;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;width:100%;height:100px;}
.our-contacts-block{min-height:500px;margin-bottom:50px;}
input[type=text],input[type=email],input[type=date],input[type=time], textarea{width:calc(50% - 2px);padding:12px;border:1px solid #ccc;border-radius:4px;margin:5px 0;}
#form-name{width:100%;}
textarea{width:100%;height:200px;}
input[type=submit]{margin:0px auto;display:block;}
.icon{font-size:28px;padding:5px;border-radius:50%;width:50px;height:50px;background:#232323;text-align:center;display:inline-block;margin:10px 5px;}
.icon a{color:#fff;}
.icon:hover{background:#33CB53;}
.icon:hover:nth-child(odd){background:#333ACB;}
.icon:hover:last-child{background:#CB3348;}
.about-us-main{background:url(../img/main1.jpg);min-height:40vh;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;position:relative;background-attachment:fixed;}
.about-us-main-text{color:#fff;text-align:center;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;width:100%;height:100px;}
.about-us-block{min-height:500px;margin:70px 0;}
.about-us-block .row{margin:50px 0;}
.about-us-block a{text-decoration:none;font-weight:600;}
.about-us-food{min-height:500px;padding:50px;}
.about-us-interior{min-height:500px;padding:50px;}
.about-us-last-block{min-height:200px;padding:20px;background:#b38c73;}
.about-us-last-block{min-height:200px;padding:20px;background:#b38c73;}
.about-us-last-block h2{font-family:'Caveat', cursive;color:#fff;font-size:34px;}
.about-us-last-block h1{color:#fff;font-size:40px;font-weight:700;margin-bottom:10px;}
.about-us-last-block .button{border:solid #232323 1px;padding:15px 25px;font-size:16px;font-weight:700;color:#fff;background:#232323;transition:0.5s;}
.about-us-last-block .button:hover{background:#b38c73;color:#fff;text-decoration:none;transition:0.5s;border:solid #fff 1px;}
.about-us-info{min-height:400px;background:url(../img/about/restaurant2.jpg);background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;color:#fff;padding:200px 0;}
.menu-main{background:url(../img/ustrici.jpg);min-height:40vh;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;position:relative;background-attachment:fixed;}
.menu-main-text{color:#fff;text-align:center;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;width:100%;height:100px;}
.menu-info{min-height:300px;}
.menu-info-text-box{background:#fff;margin:50px 0;}
.menu-info-text-box p{font-size:16px;text-align:left;color:#565656;}
.menu-img-block{min-height:400px;background:url(../img/ustrici.jpg);background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;color:#fff;padding:200px 0;}
.menu-fon{background:#f2f0ee;}
.menu-price{min-height:400px;color:black;margin:50px 0;background:#fff;padding-top:20px;}
.list-of-menu-buttons{min-height:20px;padding:20px;}
.menu-buttons{border:1px dotted #575757;font-size:20px;padding:5px;color:#575757;margin:5px;transition:0.7s;}
.menu-buttons:hover{color:#fff;background:#575757;transition:0.5s;}
.hidden{display:none}
.menu-list{padding:40px;}
.menu-list p{overflow:hidden;color:#000;font-size:20px;padding:10px;margin:0;}
.menu-list h5{padding:0 10px 10px 10px;margin:0;}
.menu-list p:after{content:'. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ';display:block;white-space:nowrap;overflow:hidden;}
.menu-list p span:first-of-type{float:left;margin-right:10px;}
.menu-list p span:nth-child(2){float:right;margin-left:10px;}
.menu-list p span:last-of-type:after{content:'р.';float:right;margin-left:5px;}
.reservation-main{background:url(../img/table.jpg);min-height:40vh;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;position:relative;background-attachment:fixed;}
.reservation-main-text{color:#fff;text-align:center;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;width:100%;height:100px;}
.reservation-block{min-height:700px;background:url(../img/povar1.jpg);margin:0;padding:0;background-repeat:no-repeat;}
.reservation-info{min-height:400px;background:url(../img/reservation/block.jpg);background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;color:#fff;padding:200px 0;}
.reservation-halls{position:relative;min-height:500px;padding:50px;}
.reservation-halls img{padding:15px 0;}
.reservation-halls ul{list-style-type:none;font-size:18px;}
.reservation-halls li:before{content:"\2714";color:#b38c73;font-weight:900;font-size:20px;margin-right:5px;}
@media (min-width:992px){@keyframes bouncing{0%{bottom:0;}
100%{bottom:50px;}
}
.arrow{bottom:10%;position:absolute;left:50%;}
.arrow a{animation:bouncing 0.5s cubic-bezier(.1,.25,.1,1) 0s infinite alternate both;font-size:25px;border:solid 1px #fff;border-radius:300px;display:inline-block;color:white;cursor:pointer;font-weight:300;padding:11px;position:relative;text-decoration:none;text-transform:uppercase;vertical-align:top;}
}
@media (min-width:768px) and (max-width:991px){.carousel-caption{padding-bottom:22%;}
.carousel-caption h1{font-size:45px;}
}
@media (max-width:767px){.navbar{background:rgba(47, 47, 47, 0.9);}
.navbar-default .navbar-toggle{}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{background-color:rgba(255,215,0,0.3);}
.navbar-default .navbar-toggle .icon-bar{background-color:#ecf0f1;}
.carousel-caption{padding-bottom:18%;}
.carousel-caption h1{font-size:20px;}
.gold-text{font-size:24px;padding:0 1px;}
.main-text{padding:0 1px;font-size:28px;font-weight:700;}
.low-text{font-size:15px;padding:0;margin:0;}
.arrow{display:none;}
.restaurant-main-info h1,.restaurant-main-info p{padding:0px;}
.restaurant-main-info p{padding-top:10px;text-align:left;font-size:14px;}
.menu-list{padding:5px;}
.menu-list p{font-size:13px;font-weight:700;}
.container{width:100%;}
.restaurant-main-block{padding:0px;}
.button{border:solid #CECECE 1px;padding:10px 15px;font-size:16px;font-weight:700;color:#000;transition:0.5s;}
.low-text{text-align:justify;text-indent:20px;}
.reservation-block{background-image:none;background-color:#f2f0ee;min-height:550px;}
.restaurant-main-list-of-menu{background-image:none;background-color:#f2f0ee;min-height:550px;}
.reservation-info h1{font-size:30px;}
.reservation-info h2{font-size:20px;}
.reservation-halls{padding:0;}
}