@import url('https://fonts.googleapis.com/css?family=Arimo|Lato|Spectral+SC');

body {
      position: relative; 
  }

h1, h2, h3, h4, h5,h6{
	font-family: 'Lato', sans-serif;
}
p{
	font-family: 'Lato', sans-serif;
	/*font-style: italic;*/
}

footer{
	height: 50px;
	background-color: #2E192A;
}
footer p{
	margin-top: 10px;
	font-size: 16px;
    color: #FFF;
}

/*для навбара*/

/*.navbar{
  margin:0;
}
*/
.navbar-inverse .navbar-nav > .active > a{
	background-color: #F16565;
}
/**********************************************************************************************/

/*основные блоки */
 #section1 {
 	padding-top:20px;
 	height : 100vh;
    background-attachment:fixed;
    color: #fff;
    text-align: center;
 	background-image: url(../img/2.jpg);
    width:100%;
 	}
        #section1 h1{
        margin-top: 200px;
        font-size: 70px;
        text-align: center;
        color: #B80CC7;
        }
 #section2 {
 	padding-top:20px;
 	height:520px;color: #fff;
 	background-color: #A24AA8;
 	}
        #section2 p{
        margin-top: 5px;
        font-size: 17px;
        text-align: left;
        }
        #section2 img{
        margin-top: 20px;
        height: 370px;"
        }
        #section2 h1{
        text-align: center;
        }


 #section3 {
 	padding-top:50px;
 	height:700px;
 	color: #000;
	background-color: #FFFFFF;
 	}
        #section3 p{
            text-align: center;
        
        margin-top: 10px;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 20px;
        }

    
 #section41 {
 	padding-top:50px;
 	height:800px;
 	color: #fff;
 	background-color: #A24AA8;
 	}
        #section41 h1{
        text-align: center;
        margin-bottom: 60px;
        }
        #section41 img{
        height: 250px;
        width: 400px;
        }
   
 #section42 {
 	padding-top:20px;
 	height:500px;
 	color: #000;
 	background-color: #FFF;
 	}
        #section42 input{
        color: #000;
        font-size: 25px;
        }
        #section42 textarea{
        color: #000;
        font-size: 25px;
        }



 #section5 {
 	padding-top:50px;
 	height:240px;
 	color: #fff;
	background-color: #4E2C50;
 	}
        #section5 a{
        margin-top: 10px;
        color: #FFF;
        font-size: 40px;
        }
        #section5 a:hover{
        color: #F16565;
        }
        #section5 p{
        font-size: 20px;
        }
    
 	




/*стрелка на фоне*/
@keyframes bouncing{
  0%  { bottom: 0;}
  100%{ bottom: 50px;}
}

.arrow p {
    animation: bouncing 0.5s cubic-bezier(.1,.25,.1,1) 0s infinite alternate both;
    font-size: 70px;
    border-radius: 2px;
    display: inline-block;
    color: #B80CC7;
    cursor: pointer;
    font-weight: 300;
    letter-spacing: 0.2em;
    padding: 1em 2em 1.1em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    text-align: center;
    margin-top: 50px;
}

/*нужный css*/
.centered{
	text-align: center;
}


