@import url('https://fonts.googleapis.com/css?family=Lato');

html, body{       
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
}
p{
	font-family: 'Lato', sans-serif;
	text-align: justify;
	text-indent: 1.5em;
}
.centered{
	text-align: center;
}
.container{
	margin:10px 25px 5px 30px;
}