input, select, textarea{
	margin: 5px;
}
form{
	padding: 20px;
	border: 1px solid red;
	width: 400px;
}

    .error input,
    .error textarea {
      border: 1px solid red;
    }

    .error {
      color: red;
    }