*{
  margin: 0;
  padding: 0;
}
body {
  position: relative; 
}

h1, h2, h3, h4, h5, h6 {
/*	font-family: 'Bebas_neue', sans-serif;
	color: #FFFFFF;
	text-transform: uppercase;*/
}
p{
/*	font-family: 'PTSans', sans-serif;
	font-size: 16px;*/
}
h2{
	font-weight: bold;
}
a{
	text-decoration: none;
}
.centered{
	text-align: center;
}

.main-block{
	position: relative;
  	height:50vh;
  	background: url(../img/wallpaperwide.png);
  	background-position: center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
}
.text-block{
	min-height: 100px;
	padding: 30px 0;
}

.service{
	min-height: 200px;
	background: #f6f6f6;
}
	.service-block{
		border-right: 2px solid #D5D5D5;
		padding: 50px 20px;
		text-align: center;
	}
	.border-none{
		border: none;
	}
/*	.service-block:hover{
	background: #E6E6E6;
	}*/
	.service-block img{
      	display: block;
     	margin: 0 auto;
     	padding: 10px 0; 
    }
    .service-block button{
		display: block;
		margin: 0 auto;
		background: #608082;
		border: none;
		padding: 5px 20px;
		cursor: pointer;
		transition: background-color 500ms;
		color: #fff;
		border-radius: 5px;
		font-weight: bold;
	}
	.service-block button:hover{
		background-color: #f04f15;
		
	}





.project-block{
	min-height: 200px;
}

.project-block button{
	display: block;
	margin: 0 auto;
	background: #f04f15;
	border: none;
	padding: 5px 20px;
	cursor: pointer;
	transition: background-color 500ms;
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
}
	.project-block button:hover{
		background-color: #91310F;
		
	}

.blog{
	min-height: 200px;
	margin: 50px 0;
}
	.blog .row{
		margin-bottom: 20px;
	}
	.blog h4{
		margin-bottom: .25rem;
		font-weight: bold;
		color: #647e83;
	}
	.blog a{
		color: #f04f15;
		text-decoration: none;
	}
	.blog a:hover{
	font-weight: bold;
	}

	.blog-block{
		
	}
	.blog-block img{
		float: left;
		padding: 0 20px;
	}


.contacts{
	min-height: 200px;
	background: #647E83;
	padding: 30px 0;
	position: relative;
	color: #fff;
}
	.contacts-title{
		margin-bottom: 50px;
	}
	.letter-block{
		padding: 10px 20px;
		text-align: justify;
	}

	.twitter-block{
		background: #587375;
		border-radius: 10px;
		padding: 10px 20px;
		text-align: justify;
		color: #CECECE;
	}
	.twitter-block a{
	text-decoration: none;color: #fff;
	}
	.twitter-block a:hover{
	text-decoration: none;color: #f04f15;
	}
	.contacts button{
	display: inline-block;
	margin: 0 auto;
	background: #587375;
	border: none;
	padding: 5px 20px;
	cursor: pointer;
	transition: background-color 500ms;
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
	}
	.contacts button:hover{
		background-color: #f04f15;
		
	}
	.contacts input{
	background: #587375;border: none;
	padding: 5px 20px;border-radius: 5px;width: 80%;
	}



.social-block{
	min-height: 50px;
	background: #fff;
	padding: 50px 0;
}
.social-block img{
	float: left;
	padding-right: 15px;
}

footer{
	min-height: 20px;
	padding: 20px 0;
	background: #647E83;
}

footer p{
	color: #FFFFFF;
	margin: 0;
}



 .slider {
        width: 50%;
        margin: 30px auto;
    }
    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }