/*body { padding-top: 50px; }
*/

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
a{
    color: #fff;
}
a:hover{
text-decoration: none;
color: #7bc846;
}
a:focus{
text-decoration: none;
color: #7bc846;
}
.centered{
    text-align: center;
}
.green{
    color: #7bc846; 
}
.black{
 color: #000;
}
.container{
    padding-right: 35px;
    padding-left: 35px;
}
footer{
    min-height: 150px;
    background-color: #3E3E3E;
    font-size: 22px;
    text-align: center;
    color: #fff;
}
footer a{
    text-transform: uppercase;
}
@media (max-width: 480px){
    footer p{
    font-size: 19px;
    }
}
.left{
    float: left;
}
.right{
    float: right;
}
.margin60{
    margin-top: 60px;
}
.padding30{
    padding-top: 30px;
}


button{
    background-color: #7bc846;
    color: #fff;
    min-width: 120px;
    min-height: 40px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 15px 30px;
    font-weight: bold;
}
button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
@media (max-width: 480px){
    button{
        font-size: 16px;
        padding: 10px 15px;
    }
}
/**********************************************************************************************/
.navbar-default button{
    min-width: 10px;
    min-height: 10px;
}
    /* цвет фона и рамки навигационного меню */
    .navbar-default {
        background-color: #FFFFFF;
        border-color: #878787;
    }
    /* цвет текста, содержащий название сайта или бренда */
    .navbar-default .navbar-brand {
        color: #000;
        font-size: 24px;
    }
    /* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        color: #7bc846;
    }
    /* Цвет пунктов навигационного меню */
    .navbar-default .navbar-nav > li > a {
        color: #000;
        font-size: 24px;
    }
    /* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #7bc846;
    }
    /* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
    .navbar-default .navbar-nav > .active > a, 
    .navbar-default .navbar-nav > .active > a:hover, 
    .navbar-default .navbar-nav > .active > a:focus {
        color: #7bc846;
        background-color: #27ae60;
    }
    /* Цвет и фон открытого пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
    .navbar-default .navbar-nav > .open > a, 
    .navbar-default .navbar-nav > .open > a:hover, 
    .navbar-default .navbar-nav > .open > a:focus {
        color: #7bc846;
        background-color: #27ae60;
    }
    /* CSS стили для мобильных устройств */
    /* Цвет рамки у кнопки, которая открывает меню */
    .navbar-default .navbar-toggle {
        border-color: #7bc846;
    }
    /* Цвет фона кнопки (которая открывает меню) при поднесении к ней курсора мышки или при нахождении её в фокусе */
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #27ae60;
    }
    /* Цвет полосочек в кнопочке, которая открывает меню */
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #7bc846;
    }
    /* Цвет пунктов меню в раскрывающихся списках */
    @media (max-width: 767px) {
        .navbar-default .navbar-nav .open .dropdown-menu > li > a {
            color: #ecf0f1;
      }
    /* Цвет и фон пункта меню в раскрывающихся списках, при поднесении к нему курсора мышки или при нахождении его в фокусе */
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #7bc846;
            background-color: #27ae60;
        }
    }

/**********************************************************************************************/

#section1{
    height: 100vh;
    background-size: cover;
    background-image: url(../img/1.jpg);
    color: #fff;
}
    #section1 h1{
        padding-top: 20vh;
        font-size: 32px;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        letter-spacing: 1px;
    }
    #section1 h2{
        padding-top: 7vh;
        text-transform: uppercase;
        font-size: 65px;
        font-weight: 600;
    }
    #section1 h3{
        padding-top: 4vh;
        text-transform: uppercase;
        letter-spacing: 23px;
        font-family: 'Lato', sans-serif;
    }
    #section1 button{
    margin-top: 5vh;
    }
@media (max-width: 480px) {

    #section1 h1{
        padding-top: 20vh;
        font-size: 20px;
    }
    #section1 h2{
        padding-top: 7vh;
        font-size: 32px;
    }
    #section1 h3{
        font-size: 18px;
        letter-spacing: 1px;
    }
}
@media (max-width: 767px) {
    #section1 h2{
        padding-top: 7vh;
        font-size: 55px;
    }
    #section1 h3{        
        letter-spacing: 10px;
    }
}

#section2{
min-height:350px;
}
    #section2 img{
        padding-top: 50px;
        width: 150px;
    }
    #section2 h1{
        text-transform: uppercase;
        font-size: 25px;
        padding-top: 20px;    
    }
    #section2 h1:hover{
        color: #7bc846;    
    }
    #section2 p{
        font-size: 20px;
        color: #737373;
        padding: 0 55px;    
    }


    #section2 .box-main{

        height: 150px;
        width: 150px;
        background-color: #d2d2d2;
        margin: auto;
        border-radius: 500px;
        margin-top: 50px;
    }
    #section2 .box-main:hover{
        background-color: #7bc846;
    }
    #section2   .box1{
            background: url(../img/fork.png) no-repeat center;
            height: 150px;

        }
    #section2  .box1:hover{
            background: url(../img/fork2.png)  no-repeat center;
        }
    #section2   .box2{
            background: url(../img/desk.png) no-repeat center;
            height: 150px;

        }
    #section2  .box2:hover{
            background: url(../img/desk1.png)  no-repeat center;
        }
    #section2   .box3{
            background: url(../img/rocket.png) no-repeat center;
            height: 150px;

        }
    #section2  .box3:hover{
            background: url(../img/rocket1.png)  no-repeat center;
        }









#section3{
min-height:350px;
margin-bottom: 100px;
}
    #section3 img{
        padding: 50px 0 20px 0;
    }
    #section3 h1{
        text-transform: uppercase;
        padding-top: 55px;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 1px;    
    }
    #section3 h2{
        color: #737373;
        letter-spacing: 5px;
        padding: 20px 0;
        font-family: 'Lato', sans-serif;   
    }
    #section3 p{        
        padding: 30px 0;
        font-size: 20px; 
        width: 70%;
        margin: auto;
    }
    #section3 h3{
        padding-top: 5px;
    }

#section4 {
    padding-top:50px;
    height:350px;
    color: #fff;
    background-color: #00bcd4;
    background-image: url(../img/mountains.jpg);
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
}
    #section4 img{
    padding-top: 50px;
    width: 70px;
    }
    #section4 h1{
    text-transform: uppercase;
    padding-top: 5px;
    font-size: 36px;
    letter-spacing: 3px;
    }

@media (max-width: 480px){
        #section4 h1{
        padding-top: 5px;
        font-size: 26px;
        letter-spacing: 3px;
        }
    }

#section5 {
    padding:50px 0;
    min-height:500px;
}
#section5 .row{
    margin-bottom: 70px;

}
    #section5 h1{
    text-transform: uppercase;
    padding-top: 5%;
    font-size: 40px;
    letter-spacing: 3px;
    text-align: left;
    font-weight: 600;
    }
    #section5 h2{
    text-transform: uppercase;
    font-size: 20px;
    color: #737373;
    text-align: left;
    padding-top: 5px;
    }

    #section5 p{
    padding-top: 15px;
    font-size: 20px;
    text-align: justify;
    color: #737373;
    }

    #section5 h4{
    text-transform: uppercase;
    padding-top: 13%;
    font-size: 28px;
    letter-spacing: 1px;
    text-align: center;
    }
    #section5 h5{
    padding-top: 15px;
    font-size: 20px;
    text-align: center;
    color: #737373;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    }

.padding-table{
        padding-top: 80px;
    }
    #section5 h3{
        font-size: 20px;
        padding-top: 5px;
        text-transform: uppercase;
    }
    #section5 .row-green:hover{
        color: #7bc846;
    }    
    #section5 button{
        margin-top: 35px;
    }

#section6 {
    padding:50px 0;
    min-height:200px;
    color: #fff;
    background-color: #96AAA8;
    text-align: center;
    background-image: url(../img/mountains.jpg);
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
}
    #section6 h1{
        font-size: 70px;
        color: #7bc846;
        font-weight: 700;
    }
    #section6 h2{
        font-size: 22px;
        text-transform: uppercase;
    }

#section7 {
    padding-top:50px;
    min-height:700px;
}
    #section7 h1{
        text-transform: uppercase;
        padding-top: 55px;
        font-size: 40px;
        font-weight: 900;
        letter-spacing: 1px;
        text-align: center; 
    }
    #section7 h2{
        color: #737373;
        letter-spacing: 5px;
        padding: 20px 0;
        text-align: center; 
    }
    #section7 img{      
        margin: 5px;
        padding: 25px 0;  
    } 
/*    #section7 .col-md-6{      
        padding: 0;  
    }
*/
#section8 {
    padding-top:50px;
    min-height:700px;
}
    #section8 h1{
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center; 
    }
    #section8 h2{
        color: #737373;
        letter-spacing: 5px;
        padding: 20px 0;
        text-align: center;     
    }
    #section8 h3{
        font-size: 40px;
        /*padding: 20px 0;*/
        text-align: center;     
    }
    #section8 sup{
        font-size: 20px;    
    }
    #section8 h4{
        text-transform: uppercase;
        padding: 25px 0;
        font-size: 22px;
        letter-spacing: 1px;
        text-align: center;
    }
    #section8 li{
        font-size: 20px;
        text-align: center;
        color: #737373;
        font-weight: 400;
        list-style-type: none;
    }
    #section8 a{
    }
    #section8 i{
    }
    #section8 button{
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 5px 10px;
        font-size: 18px;
        font-weight: normal;
    }
/*форма*/
    #section8 h5{
        padding-top: 10%;
        font-size: 32px;
        letter-spacing: 1px;
        text-align: left;
        color: #fff;
        text-align: center;
    }
    #section8 h6{
        text-transform: uppercase;
        padding: 25px 0 0 25px;
        font-size: 22px;
        letter-spacing: 1px;
        text-align: left;
        color: #000;
    }
        #section8 p{
        padding: 0 25px;
        font-size: 16px;
        letter-spacing: 1px;
        text-align: left;
        color: #000;
    }


.form{
    min-height: 400px;
    margin: 50px auto;
    border-width: 1px;
    border-style: solid;
    color: #BCBCBC; 
}
.form .cl1{
    min-height: 100px;
    border-width: 1px;
    border-style: solid;
    background-image: url(../img/note.jpg);
    color: #BCBCBC;
    background-size: cover;
    text-align: center;
}
.form .cl1 a{
    color: #fff;
    font-size: 32px;
    padding: 0 25px;

}
.form .cl1 a:hover{
    color: #7bc846;
}
.form .cl11{
    margin: 15px;
/*    448px=64%; 448-(15*2)-2=416px;  */
    height: 416px;
    border-width: 1px;
    border-style: solid;
    color: #BCBCBC;
}
.form .cl2{
    min-height: 200px;
    border-width: 1px;
    border-style: solid; 
}
.form .cl3{
    min-height: 58px;
    border-width: 1px;
    border-style: solid;
}
.form .cl33{
    background-color: #7bc846;
    height: 100%;
    width: 9%;
    float: right;
}
.form .cl33 a{
     display: block; 
     text-align: center;
     font-size: 40px;
}
.form .cl33 a:hover{
 color: #fff;
}
@media (max-width: 480px){
    .form .cl1{
    min-height: 220px;
    }
    .form .cl1 a{
    font-size: 37px;
    padding: 0 25px;
    }
    .form .cl11{
    margin: 15px;
    height: 220px;
    }
    .form .cl33{
    width: 18%;
    }
}

.block_last{
    min-height: 300px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 5px #A4A4A4;
    margin: 70px 0;
}
 #section8 .block_last h1{
 padding-top: 50px;
 font-size: 18px;
}
 #section8 .block_last h2{
 padding-top: 20px;
 font-size: 38px;
 font-weight: 700;
 color: #A2A2A2;
}
 #section8 .block_last p{
 padding: 10px 40px;
 font-weight: 500;
 font-size: 20px;
 color: #6F6F6F;
 text-align: center;
}


/***************************************/
/*линии*/

.strip1{
    margin: 70px 0 20px 0;
    color: #C7C7C7;
    background-color: #C7C7C7;
    height: 1px;
    border: none;
}
.strip2{
    width: 5%;
    margin: auto;
    color: #7bc846;
    background-color: #7bc846;
    height: 2px;
    border: none;
}
@media (max-width: 480px){
    .strip2{
    width: 25%;
    }
}
.strip3{
    width: 15%;
    margin: auto;
    color: #7bc846;
    background-color: #7bc846;
    height: 2px;
    border: none;
}
.strip4{
    margin: 15px 0;
    color: #B4B4B4;
    background-color: #B4B4B4;
    height: 1px;
    border: none;
}
.strip5{
    width: 8%;
    margin: auto;
    color: #fff;
    background-color: #fff;
    height: 3px;
    border: none;
    margin-top: 3%;
    margin-bottom: 5%;
}

/*черта вертикальная*/
.line { 
    border-width: 3px;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #737373;
    height: 100px;
    top: 0px;
   }


/***************************************/
/*скилл*/

.skills_bg {
  width: 100%;
  background-color: #505050;
  height: 1px;
  margin-top: 1px;
}

.skills {
  height: 5px;
  background-color: #7bc846;
}

.des {width: 95%;}
.dev {width: 80%;}
.ani {width: 50%;}


/***************************************/
/*блоки 1-2*/
.block1, .block2{
    width: 100%;
    height: 300px;
    background-color: #EEEEEE;
    box-shadow: 5px -2px 14px -8px #000000;
    margin-bottom: 30px;
}

/***************************************/
/*блоки 3-4*/
.block-price{
margin: 50px auto auto auto;
width: 200px;
min-height: 400px;
background-color: #EEEEEE;
box-shadow: 5px -2px 14px -8px #000000;
}
.radius {
    width: 120px;
    height: 60px;
    border: 2px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background: #7bc846;
    margin: auto;
    color: #fff;
}

.green-block:hover .block-price{
    background-color: #7bc846;
    color: #fff;
}
.green-block:hover .radius{
    background: #fff;
    color: #7bc846;
}
.green-block:hover button{
  background: #fff;
  color: #7bc846;
}
.green-block:hover li{
    color: #fff !important;
}
.green-block:hover .strip4{
    color: #fff !important;
    background-color: #fff !important;
}