@import url('https://fonts.googleapis.com/css?family=Sanchez|Tangerine');
*{
	margin: 0;
	padding: 0;
}

h1{
	font-style: normal;
font-weight: 400;
font-size: 45px;
font-family: "Sanchez";
line-height: 35px;
text-transform: none;
letter-spacing: 0px;
color: #28262b;
}
h2{
	font-style: normal;
font-weight: 400;
font-size: 45px;
font-family: "Tangerine";
line-height: 20.02px;
text-transform: none;
letter-spacing: 0px;
word-spacing: 0;
color: #b38c73;
}

.centered{
	text-align: center;
}
.navbar{
	margin: 0;
	background: transparent;
	border: none;
	padding: 0.5em 0;

}
.navbar-brand img{
	margin-top: -20px;
	background-size: cover;
}
.navbar-default .navbar-nav > li > a{
color: #fff;
font-size: 20px;
}
.section1{
	background: url(../img/meat4.jpg);
	height: 100vh;
}
.section2{
	height:700px;
	text-align: center; 
}
.section3{
	height:700px;
	text-align: center; 
}
.section4{
	min-height:300px;
	text-align: center;

}
.section5{
	height:700px;
	text-align: center; 
}
.section6{
	height:900px;
	text-align: center;
	background: url(../img/chef_3.jpg); 
}
.section7 .col-md-3{
padding: 0;
}



footer{
	height: 250px;
	background-color: red;
	color: #fff;
	text-align: center;
}
.footer1{
	height: 80%;
	padding: 4em 0;
	background-color: #333333;

}
.footer1 li{
 display: inline-block;
 font-size: 20px; 
 margin: 20px;
}

.footer1 a{
 color: #fff;

}

.footer2{
	height: 20%;
	padding: 1em 0;
	background-color: #1b1b1b;
}


/*font-family: "Tangerine";*/