p{
	font-size: 24px;
	text-indent: 20px; 
}
.container{
	position: relative;
	width: 50%;
	margin:0 auto;
	text-align: center;
}
.container img{
position: absolute;
}
.container img:hover{
position: absolute;
z-index: 8;
}

.img1 { top: 0px;left: 200px; z-index: 3; }
.img2 { top: 0px;left: 430px; z-index: 3; }
.img3 { top: 70px;left: 300px; z-index: 5; }
.img4 { top: 200px;left: 330px; z-index: 3; }

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
.container{margin:0 100px;}
}
@media (min-width: 768px) and (max-width: 991px) {
.container{margin:0 50px;}
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.img1 { top: 0px;left: 100px; z-index: 3; }
.img2 { top: 0px;left: 330px; z-index: 3; }
.img3 { top: 70px;left: 200px; z-index: 5; }
.img4 { top: 200px;left: 230px; z-index: 3; }
.container{margin:0px;}
}
